@import 'reset';

:root {
  --light-blue: #a2d5ff;
  --light-green: #ccfbf8;
  --light-pink: #ffa39c;
  --light-purple: #e2b6e8;
  --dark-purple: #525fe8;
  --dark-pink: #ff7163;

  --box-shadow {
    box-shadow: 0 .4rem 1rem 0 rgba(0, 0, 0, .2);
  }
}

body {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: var(--dark-purple);
  height: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8vh;

    font-family: arial;
    font-weight: bold;
    font-size: 1.8vw;

    background-color: white;
    box-shadow: 0 .5rem 1.2rem 0 rgba(150, 250, 240, .95);

    &-items { display: flex; }
  }

  &-nav-logo {
    width: 7vw;
    height: 3vw;
    background: url(../assets/svg/dok_logo.svg) no-repeat;
    background-size: 100%;
    transition: .2s ease-in-out;

    &-hidden {
      visibility: hidden;
    }

    &:hover {
      background: url(../assets/svg/dok_logo_hover.svg) no-repeat;
      background-size: 100%;
      transition: .2s ease-in-out;
    }
  }

  &-nav-item {

    text-decoration: none;
    margin-right: 7vw;
    color: var(--dark-purple);
    transition: color .3s ease-in-out;

    &:hover {
      color: var(--light-pink);
      transition: color .3s ease-in-out;
    }

    &-active { color: var(--light-pink); }
  }

  &-nav-social-facebook-svg, &-nav-social-twitter-svg {
    width: 5rem;
    height: 4rem;

    &:hover { fill: var(--light-pink); }
  }

}

.header-events {

  height: 30vw;
  background-color: var(--light-green);

  &-title {
    color: var(--dark-pink);
    width: 100vw;
    height: 20vw;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &-h {
      font-size: 3.3vw;
      font-family: 'Arial Black';
      position: absolute;
      top: 40%;
      left: 9%;
    }

    &-p {
      font-size: 1.8rem;
      position: absolute;
      top: 66%;
      left: 9%;
    }
  }
}

.header-container {
  background-color: var(--light-green);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 50vw;

  &-title, &-date, &-place {
    font-size: 2vw;
  }

  &-images {
    position: relative;
    width: 80vw;
    height: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    height: 15vw;
    width: 60vw;

    background: url(../assets/img/header/titel.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 50%;
    z-index: 3;

    &-hidden {
      visibility: hidden;
    }
  }

  &-img1 {
    background: url(../assets/img/header/blue.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 40%;
    height: 27vw;
    width: 65vw;
    z-index: 2;
  }

  &-img2 {
    background: url(../assets/img/header/pink.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 57%;
    right: 17%;
    height: 30vw;
    width: 60vw;
  }

  &-img3 {
    background: url(../assets/img/header/purple.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 40%;
    height: 35vw;
    width: 70vw;
  }

  &-img4 {
    background: url(../assets/img/header/crane.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 12%;
    height: 27vw;
    width: 20vw;
  }

  &-img5 {
    background: url(../assets/img/header/flag.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 12%;
    right: 15%;
    height: 37vw;
    width: 15vw;
  }

  &-date {
    position: absolute;
    top: 82%;
  }

  &-place {
    position: absolute;
    top: 87%;
  }
}

.general {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 25;
  margin-top: -4rem;

  width: 75vw;

  &-article-news, &-article-dok, &-article-agenda {
    margin-bottom: 6vw;

    @apply --box-shadow;
  }
}

.general-article-news {

  height: 46rem;
  width: 40rem;
  position: relative;

  &-link {
    text-decoration: none;
    color: white;
  }

  &-title {
    /*height: 10rem;*/
    background-color: var(--light-pink);
    padding: 3rem 4rem;
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
  }

  &-tag {
    font-family: 'Arial black';
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  &-title-three { height: 12rem; }

  &-img {
    height: 37rem;
    width: 100%;
    object-fit: cover;

    &::after {
      background: url(../assets/svg/border.svg) no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      width: 100%;
      height: 20rem;
      /*position: relative;
      top: -60%;*/
      align-self: center;
    }
  }

  &-one {
    order: 1;
  }

  &-two {
    order: 4;
  }

  &-three {
    order: 5;
    width: 75vw;
    height: 67rem;

    &-img {
      height: 55rem;
      filter: blur(.1rem);
      overflow: hidden;
    }
  }

}

.general-article-dok {

  background-color: var(--dark-purple);

  width: 40vw;
  height: 47rem;
  padding: 2rem 6rem;
  order: 2;
  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;

  &-title {
    font-family: 'Arial Black';
    font-size: 3.5rem;
  }

  &-p-anchor {

    position: relative;

    &::before, &::after {
      background: url(../assets/svg/anchor.svg) no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      width: 2rem;
      height: 2.4rem;
      position: absolute;
      margin: 2rem 0;
      left: 50%;
      /*top: 140%;*/
    }

    &::before { top: -140%; }
  }
}

.general-article-agenda {

  background-color: var(--dark-purple);

  width: 39vw;
  height: 47rem;
  font-size: 2rem;
  padding: 2rem 4vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  order: 3;

  &-title {
    font-family: 'Arial Black';
    font-size: 3.5rem;
    align-self: center;
  }

  &-event {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    position: relative;

    &:nth-child(odd) {

      &::before, &::after {
        background: url(../assets/svg/wave.svg) no-repeat;
        background-size: 100%;
        content: '';
        position: absolute;
        top: -55%;
        width: 12vw;
        height: 1vw;
      }

      &::after { top: 155%; }
    }

    &-title {
      max-width: 20vw;
      text-decoration: none;
      color: white;
      margin-right: 2rem;

      &:hover { color: var(--light-pink); }
    }
  }

  &-link {
    text-decoration: underline;
    font: 2.5rem Arial;
    font-weight: bold;
    color: white;

    &:hover { color: var(--light-pink); }
  }
}

.resident {
  display: flex;
  justify-content: space-between;
  width: 75vw;

}

.map {
  height: 40vw;
  width: 100vw;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 6rem;
}

.newsletter {
  width: 75vw;
  height: 19rem;
  padding: 4rem;
  background-color: var(--light-pink);

  display: flex;
  font-size: 1.8rem;
  margin-bottom: 3rem;

  &-text-title {
    font-family: 'Arial black';
    font-size: 4rem;
  }
}

.sponsors {
  width: 75vw;
  height: 15rem;
  background-color: var(--light-green);
  padding: 3rem 2rem;
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.events-search {
  display: flex;

  &-form-search { display: flex; }
}

@media only screen and (width <= 1160px) {

  .header {

    &-nav {
      font-size: 2.5vw;

      &-logo {
        width: 10vw;
        height: 4vw;
      }
    }

    &-nav-social-facebook-svg, &-nav-social-twitter-svg {
      width: 3rem;
      height: 4rem;
    }
  }

  .general {

    margin-top: -2rem;
    justify-content: center;
    width: 75vw;

    &-article-news, &-article-agenda, &-article-dok {
      width: 100%;

      &-one { order: 2; }

      &-three { height: 46rem; }

      &-three-img {
        height: 36rem;
      }

      &-event { width: 60vw; }
    }

    &-article-news-title::after {
      background: url(../assets/svg/arrow.svg) no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      width: 5rem;
      height: 7rem;
      position: absolute;
      right: 6%;
      bottom: -40%;
    }

    &-article-dok {
      order: 1;
      padding: 2rem 3rem;
      margin-bottom: 2rem;
    }

    &-article-agenda-event {
      width: 60vw;

      &-title {
        max-width: 35vw;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (width <= 590px) {

  .header-nav {

    font-size: 1.4rem;
    align-items: flex-end;
    padding-bottom: 1rem;
    height: 10vh;
    position: relative;
    width: 100%;

    &-social-facebook-svg, &-social-twitter-svg {
      display: none;
    }

    &-logo {
      width: 14vw;
      height: 6vw;
      margin: 0 1.3rem 1rem;
    }

    &-item {
      margin-right: 8vw;
      /*display: flex;
      flex-direction: column;
      align-items: center;*/
    }

    &-item-agenda {
      margin-right: 3vw;

      &::before {
        background: url(../assets/svg/calendar.svg) no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        width: 7vw;
        height: 7vw;
        margin: .5rem 1rem;
      }
    }

    &-item-practical {
      margin-right: 3vw;

      &::before {
        background: url(../assets/svg/practical.svg) no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        width: 7vw;
        height: 7vw;
        margin: .5rem 1.5rem;
      }
    }

    &-item-about {

      &::before {
        background: url(../assets/svg/about.svg) no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        width: 7vw;
        height: 7vw;
        margin: .5rem 1.5rem;
      }
    }
  }

  .general {

    width: 95vw;

    &-article-news {
      height: 13vw;
      margin-bottom: 8rem;

      &-img { display: none; }

      &-title { height: 11rem; }

    }

    &-article-dok { display: none; }
  }

  .general-article-agenda { margin-bottom: 1.8rem; }

  .general-article-agenda-event {
    width: 72vw;
    font-size: 1.6rem;

    &-title {
      max-width: 50vw;
    }

    &:nth-child(odd) {

      &::before {
        background: none;
        content: '';
        width: 0;
        height: 0;
      }

      &::after {
        background: none;
        content: '';
        width: 0;
        height: 0;
      }
    }
  }

}
