@import 'reset';

:root {
  --light-blue: #a2d5ff;
  --light-green: #ccfbf8;
  --light-pink: #ffa39c;
  --light-purple: #e2b6e8;
  --dark-purple: #525fe8;
  --dark-pink: #ff7163;

  --box-shadow: {
    box-shadow: 0 .4rem 1rem 0 rgba(0, 0, 0, .2);
  }
}

body {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  appearance: none;
  border-radius: 0;
}

.header {
  color: var(--dark-purple);
  height: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
  overflow: hidden;

  &-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    font-family: arial;
    font-weight: bold;
    font-size: 1.8vw;

    background-color: white;

    @apply --box-shadow;

    &-items { display: flex; }
  }

  &-nav-logo {
    width: 7vw;
    height: 3vw;
    background: url(../assets/svg/dok_logo.svg) no-repeat;
    background-size: 100%;
    transition: .2s ease-in-out;

    &-hidden {
      visibility: hidden;
    }

    &:hover {
      background: url(../assets/svg/dok_logo_hover.svg) no-repeat;
      background-size: 100%;
      transition: .2s ease-in-out;
    }
  }

  &-nav-item {

    text-decoration: none;
    margin-right: 7vw;
    color: var(--dark-purple);
    transition: color .3s ease-in-out;

    &:hover {
      color: var(--light-pink);
      transition: color .3s ease-in-out;
    }

    &-active { color: var(--light-pink); }
  }

  &-nav-social {
    min-width: 15rem;
    min-height: 4rem;
    display: flex;
  }

  &-nav-social-facebook, &-nav-social-twitter {
    background-size: 100%;
    width: 3rem;
    height: 3rem;
    display: block;
  }

  &-nav-social-facebook {
    background: url(../assets/svg/fb.svg) no-repeat;
  }

  &-nav-social-twitter {
    background: url(../assets/svg/twitter.svg) no-repeat;
  }

}

.header-events {

  height: 25vw;

  &-title {
    color: var(--dark-pink);
    background-color: var(--light-green);
    width: 100vw;
    height: 25vw;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &-h {
      font-size: 3.3vw;
      font-family: 'Arial Black';
      position: absolute;
      top: 40%;
      left: 9%;
    }

    &-p {
      font-size: 1.8rem;
      max-width: 40vw;
      position: absolute;
      top: 60%;
      left: 9%;
    }
  }
}

.header-container {
  background-color: var(--light-green);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 50vw;
  z-index: -1;

  &-title, &-date, &-place {
    font-size: 2vw;
  }

  &-images {
    position: relative;
    width: 80vw;
    height: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    height: 15vw;
    width: 60vw;

    background: url(../assets/img/header/titel.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 50%;
    z-index: 3;

    &-hidden {
      visibility: hidden;
    }
  }

  &-img1 {
    background: url(../assets/img/header/blue.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 40%;
    height: 27vw;
    width: 65vw;
    z-index: 2;
  }

  &-img2 {
    background: url(../assets/img/header/pink.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 57%;
    right: 17%;
    height: 30vw;
    width: 60vw;
  }

  &-img3 {
    background: url(../assets/img/header/purple.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 40%;
    height: 35vw;
    width: 70vw;
  }

  &-img4 {
    background: url(../assets/img/header/crane.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 12%;
    height: 27vw;
    width: 20vw;
  }

  &-img5 {
    background: url(../assets/img/header/flag.png) no-repeat;
    background-size: 100%;

    position: absolute;
    top: 12%;
    right: 15%;
    height: 37vw;
    width: 15vw;
  }

  &-date {
    position: absolute;
    top: 82%;
  }

  &-place {
    position: absolute;
    top: 87%;
  }
}

.general {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  width: 75vw;

  &-article-news, &-article-dok, &-article-agenda {
    margin-bottom: 6vw;

    @apply --box-shadow;
  }
}

.general-article-news {

  height: 47rem;
  width: 30vw;
  max-width: 75vw;
  position: relative;
  background-color: var(--light-pink);

  &-link {
    text-decoration: none;
    color: white;

    &:hover > .general-article-news-title {
      transform: translateY(-5rem);
    }
  }

  &-title {

    padding: 3rem 4rem 0;
    font-size: 1.8rem;
    background-color: var(--light-pink);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    transition: transform .4s;
  }

  &-tag {
    font-family: 'Arial black';
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  &-img {
    height: 37rem;
    width: 100%;
    object-fit: cover;
  }

  &-one {
    order: 1;
  }

  &-two {
    order: 4;
  }

  &-three {
    order: 5;
    width: 75vw;
    height: 67rem;

    &-img {
      height: 55rem;
      filter: blur(.1rem);
      overflow: hidden;
    }
  }

}

.general-article-dok {

  background-color: var(--dark-purple);

  width: 40vw;
  min-width: 50rem;
  height: 47rem;
  order: 2;
  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  &-title {
    font-family: 'Arial Black';
    font-size: 3.5rem;
  }

  &-p-anchor {

    position: relative;

    &::before, &::after {
      background: url(../assets/svg/anchor.svg) no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      width: 2rem;
      height: 2.4rem;
      position: absolute;
      margin: 2rem 0;
      left: 50%;
      /*top: 140%;*/
    }

    &::before { top: -140%; }
  }
}

.general-article-agenda {

  background-color: var(--dark-purple);

  width: 39vw;
  min-width: 50rem;
  height: 47rem;
  font-size: 2rem;
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  order: 3;

  &-title {
    font-family: 'Arial Black';
    font-size: 3.5rem;
    align-self: center;
  }

  &-event {
    min-width: 33vw;
    display: flex;
    justify-content: space-between;
    position: relative;

    &:nth-child(odd) {

      &::before, &::after {
        background: url(../assets/svg/wave.svg) no-repeat;
        background-size: 100%;
        content: '';
        position: absolute;
        top: -55%;
        width: 12vw;
        height: 1vw;
      }

      &::after { top: 155%; }
    }

    &-title {
      max-width: 18vw;
      text-decoration: none;
      color: white;
      margin-right: 2rem;

      &:hover { color: var(--light-pink); }
    }
  }

  &-link {
    text-decoration: underline;
    font: 2.5rem Arial;
    font-weight: bold;
    color: white;

    &:hover { color: var(--light-pink); }
  }
}

.general-article-dok, .general-article-agenda {
  border-image-source: url(../assets/svg/border-img.svg);
  border-image-outset: 2rem;
  border-image-slice: 50;
  border-width: 3rem;
  border-style: solid;
}

.resident {
  display: flex;
  justify-content: space-between;
  width: 75vw;

}

.map {
  height: 40vw;
  width: 100vw;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 6rem;
}

.newsletter {
  width: 75vw;
  height: 19rem;
  padding: 4rem;
  background-color: var(--light-pink);

  display: flex;
  font-size: 1.8rem;
  margin-bottom: 3rem;

  &-text-title {
    font-family: 'Arial black';
    font-size: 4rem;
  }
}

.sponsors {
  width: 75vw;
  height: 15rem;
  background-color: var(--light-green);
  padding: 3rem 2rem;
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.events-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: var(--light-pink);
  width: 100%;
  height: 10vw;
  margin-bottom: 5rem;

  &-form-input, &-form-tag-select, &-form-month-select {
    border: .3rem solid white;
    padding: 1rem;
    color: white;
    font-size: 1.6rem;
    height: 4.5rem;
    width: 30rem;

    &::placeholder {
      color: white;
      font-style: italic;
    }
  }

  &-form-input {
    background: url(../assets/svg/search.svg) 98% 0 no-repeat var(--light-pink);
  }

  &-form-tag-select {
    background: url(../assets/svg/tag.svg) 2% 0 no-repeat var(--light-pink);
    padding: 1rem 0 0 5rem;
  }

  &-form-month-select {
    background: url(../assets/svg/tag.svg) 2% 0 no-repeat var(--light-pink);
    background-size: 3%;
    padding: 1rem 0 0 5rem;
  }
}

.events-result {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5vw;

  &-item {
    min-width: 32rem;
    width: 35vw;
    height: 40rem;
    margin-bottom: -3vw;
    overflow: hidden;
    background-color: var(--light-green);

    @apply --box-shadow;

    &-img {
      width: 100%;
      height: 30rem;
      object-fit: cover;
    }

    &:nth-child(even) {
      margin-top: 10vw;
    }

    &-link {

      text-decoration: none;

      &:hover > .events-result-item-info {
        transform: translateY(-5rem);
      }

      &:hover > .events-result-item-info::after {
        background: url(../assets/svg/arrow.svg) no-repeat;
        background-size: 7%;
        background-position: 88% 0;
        content: 'Ontdek het hier';
        display: block;
        width: 100%;
        height: 3rem;
        font-size: 1.8rem;
        color: white;
        position: absolute;
        left: 6%;
        top: 100%;
      }
    }

  }

  &-item-info {
    background-color: var(--light-green);
    padding: 1.8rem 3rem;
    height: 9rem;
    min-width: 32rem;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    transition: transform .4s;

    &-title {
      font-size: 1.8rem;
      color: var(--dark-purple);
      font-family: arial;
      font-weight: bold;
    }

    &::after { transition: all .4s; }
  }

  &-item-info-details {
    font-size: 1.6rem;
    width: 100%;
    color: var(--light-pink);
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (width <= 1160px) {

  .header {

    &-nav {
      font-size: 2.5vw;

      &-logo {
        width: 10vw;
        height: 4vw;
      }
    }
  }

  .general {

    justify-content: center;
    width: 75vw;

    &-article-news, &-article-agenda, &-article-dok {
      width: 100%;

      &-one { order: 2; }

      &-three { height: 46rem; }

      &-three-img {
        height: 36rem;
      }
    }

    &-article-news-title::after {
      background: url(../assets/svg/arrow.svg) no-repeat;
      background-size: 100%;
      background-position: 2000% 100%;
      content: 'Ontdek';
      display: block;
      width: 5rem;
      height: 7rem;
      position: absolute;
      right: 16%;
    }

    &-article-dok {
      order: 1;
      margin-bottom: 5rem;
    }

    &-article-agenda-event {
      width: 60vw;

      &-title {
        max-width: 35vw;
        text-decoration: underline;
      }

      &::before, &::after { display: none; }
    }
  }
}

@media only screen and (width <= 590px) {

  .header {
    height: 30rem;
    margin-bottom: 3rem;

    &-container {
      height: 30rem;

      &-img1, &-img2, &-img3, &-img4, &-img5, &-date, &-place { display: none; }
    }

    &-events { height: 5rem; }

    &-events-title { display: none; }

  }

  .header-nav {

    font-size: 1.4rem;
    align-items: flex-end;
    padding-bottom: 1rem;
    height: 8vh;
    position: fixed;

    &-logo {
      width: 10rem;
      height: 4.3rem;
      margin-right: 2rem;
    }

    &-item { margin-right: 8vw; }

    &-items {
      justify-content: center;
      align-items: center;
      width: 75%;
    }

    &-item-agenda {

      &::before {
        background: url(../assets/svg/calendar.svg) no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        width: 7vw;
        height: 7vw;
        margin: .5rem 1rem;
      }
    }

    &-item-practical {

      &::before {
        background: url(../assets/svg/practical.svg) no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        width: 7vw;
        height: 7vw;
        margin: .5rem 1.5rem;
      }
    }

    &-item-about {
      width: 7rem;

      &::before {
        background: url(../assets/svg/about.svg) no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        width: 7vw;
        height: 7vw;
        margin: .5rem 1.5rem;
      }
    }

    &-social { display: none; }
  }

  .general {

    width: 100vw;
    justify-content: initial;

    &-article-news {
      height: 13vw;
      margin-bottom: 8rem;
      width: 100vw;
      align-self: center;

      &-img { display: none; }

      &-title {
        height: 10rem;
        width: 100vw;
        padding: 1rem;
      }

      &-title::after { display: none; }

      &-title-item { text-decoration: underline; }

      &-link:hover > .general-article-news-title {
        transform: none;
      }

    }

    &-article-dok { display: none; }
  }

  .general-article-agenda {
    margin-bottom: 1.8rem;
    width: 100%;
    border: none;

    &-title { align-self: auto; }
  }

  .general-article-agenda-event {
    width: 72vw;
    font-size: 1.6rem;

    &-title {
      max-width: 50vw;
    }

    &:nth-child(odd) {

      &::before {
        background: none;
        content: '';
        width: 0;
        height: 0;
      }

      &::after {
        background: none;
        content: '';
        width: 0;
        height: 0;
      }
    }
  }

}
